<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel=""stylesheet" href="../_css/style.css" />
    <meta charset="utf-8">    
    <link rel="manifest" href="manifest,json">
    <link rel="icon type=imagem/png" href="icon-512x512.png" />
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="shortcut icon" type="imagem/png" href="icon-512x512.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <h1>HOME</h1>

    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="page2">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magni expedita, dicta qui, optio omnis sequi enim excepture sapiente solupta
    </p>
    <h2>
        Teste título    
    </h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, provident quaerat. Necessitatibus aspernatur unde quia quas id? Corrupti eius, error sed amet exercitationem voluptatum ut maxime quisquam nulla voluptate earum.
    </p>
    <h2>
        Teste título
    </h2>  
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magni expedita, dicta qui, optio omnis sequi enim excepture sapiente solupta
    </p>
    <h2>
        Teste título    
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magni expedita, dicta qui, optio omnis sequi enim excepture sapiente solupta
    </p>
  
    <script>
        if ('serviceWorker' in navigator){
            navigator.serviceWorker.register('generate-sw.js');
        }
    </script>

</body>
</html>