<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CSS1</title>
    <style>
        h2{
            color: red;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <head>
        <h1>Aula de CSS</h1>
    </head>
    <main>
        <articule>
            <h2>
                Primeira aula
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Morbi cursus odio nec
                labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent eget magna
                eros. Pellentesque lacinia nisl augue, sit ame viverra elit tempor non. Nam lactus 
                arcu sapien, in vivera felis tristique sed. Aenean placerat fringilla enim eget mollis.
                Integer porttitor, nunc quis vehicula efficitur, dui sem dictum ligula, eget mattis odio
                nunc at dolor. Nulla varius orci eu vivera aliquam. Vivamus eget venenatis nisi, sed
                facilisis magna. Proin dignissim erat in metus vulputate semper. Sed tincidunt lactus
                lectus, ut dictum odio gravida eu. Maecenas tempus vestibulum pellentesque. Aliquam 
                pulvinar sem nec nulla euismod ultricies.
            </p>
        </articule>
    </main>    
</body>
</html>