<meta charset="utf-8">   
<link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
<title>Less</title>    
</head>    
<body>
<h1>Exercicio01</h1>
<h2>Exemplo de uso de LESS</h2>
<a href="/exercicio01">Exercicio01</a>
<a href="/less">Home</a>
<a href="/historia">História</a>

<p><b>Lorem ipsum</b>dolor sit amet,consectetur adipisicing elit. Morbi cursus odio
    nec labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent
    eget magna eros.</p>
</br>
<div id="div-1">
    <b>Div 1 </b>Lorem ipsum dolor sit amet,consectetur adipisicing elit. Morbi cursus odio
    nec labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent
    eget magna eros.
</div>
</br>
<div id="div-2">
    <b>Div 1 </b>Lorem ipsum dolor sit amet,consectetur adipisicing elit. Morbi cursus odio
    nec labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent
    eget magna eros.
</div>
</br>
<div id="div-3">
    <b>Div 1 </b>Lorem ipsum dolor sit amet,consectetur adipisicing elit. Morbi cursus odio
    nec labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent
    eget magna eros.
</div>

<script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
<script>
    less = {env: 'production'}; /* pode ser prodution - se for development mostra erros no console*/
</script>
</body>
</html>
