<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="utf-8">   
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <title>Less</title>    
</head>    
<body>
    <h1>Titulo</h1>
    <p>
        <b>Lorem ipsum</b>
        Lorem ipsum dolor sit amet,consectetur adipisicing elit. Morbi cursus odio
        nec labortis vehicula. Mauris auctor porta lorem aget consectetur. Praesent
        eget magna eros. Pellentesque lacinia nisl augue, sit ame viverra elit 
        tempor non. Nam lactus arcu sapien, in vivera felis tristique sed. Aenean 
        placerat fringilla enim eget mollis.</p>

        <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
</body>
</html>